/**
* All of the CSS for your public-facing functionality should be
* included in this file.
*/

/* Registration Shortocde CSS */
.custom-profiles-register-shortcode .form-control {
    border-radius: 5px !important;
}
.custom-profiles-register-shortcode .btn-primary {
    border-radius: 5px !important;
}
.custom-profiles-register-shortcode .alert {
    display: none;
    border-radius: 5px !important;
}
.custom-profiles-register-shortcode .close {
    position: relative;
    top: -10px !important;
}
/* Registration Shortocde CSS */

/* Login Shortocde CSS */
.custom-profiles-login-shortcode .form-control {
    border-radius: 5px !important;
}
.custom-profiles-login-shortcode .btn-primary {
    border-radius: 5px !important;
}
.custom-profiles-login-shortcode .alert {
    display: none;
    border-radius: 5px !important;
}
.custom-profiles-login-shortcode .close {
    position: relative;
    top: -10px !important;
}
/* Login Shortocde CSS */

/* Activate Kit Shortocde CSS */
.custom-profiles-activate-kit-shortcode .form-control {
    border-radius: 5px !important;
}
.custom-profiles-activate-kit-shortcode .btn-primary {
    border-radius: 5px !important;
}
.custom-profiles-activate-kit-shortcode .alert {
    display: none;
    border-radius: 5px !important;
}
.custom-profiles-activate-kit-shortcode .close {
    position: relative;
    top: -10px !important;
}
/* Activate Kit Shortocde CSS */

/* Settings Shortocde CSS */
.custom-profiles-settings-shortcode {
    width: max-content;
}
.custom-profiles-settings-shortcode .card {
    border: 0px !important;
    border-bottom: 2px solid lightgray !important;
    min-width: 25rem !important;
}
.custom-profiles-settings-shortcode .card-body {
    padding: 0.75rem !important;
    background-color: #F7F7F9 !important;
}
/* Settings Shortocde CSS */

/* Change Password Shortocde CSS */
.custom-profiles-change-password-shortcode .form-control {
    border-radius: 5px !important;
}
.custom-profiles-change-password-shortcode .btn-primary {
    border-radius: 5px !important;
}
.custom-profiles-change-password-shortcode .alert {
    display: none;
    border-radius: 5px !important;
}
.custom-profiles-change-password-shortcode .close {
    position: relative;
    top: -10px !important;
}
/* Change Password Shortocde CSS */

/* Add New Profile Shortocde CSS */
.custom-profiles-add-new-profile-shortcode .form-control {
    border-radius: 5px !important;
}
.custom-profiles-add-new-profile-shortcode .btn-primary {
    border-radius: 5px !important;
}
.custom-profiles-add-new-profile-shortcode .alert {
    display: none;
    border-radius: 5px !important;
}
.custom-profiles-add-new-profile-shortcode .close {
    position: relative;
    top: -10px !important;
}
.custom-profiles-add-new-profile-shortcode .btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
}
.custom-profiles-add-new-profile-shortcode .profile-pic {
    width: 150px;
    height: 150px;
    display: block;
}
.custom-profiles-add-new-profile-shortcode .file-upload {
    display: none;
}
.custom-profiles-add-new-profile-shortcode .circle {
    border-radius: 1000px !important;
    overflow: hidden;
}
.custom-profiles-add-new-profile-shortcode img {
    max-width: 100%;
    height: auto;
}
.custom-profiles-add-new-profile-shortcode .p-image {
    position: absolute;
    top: 70%;
    right: 2%;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.custom-profiles-add-new-profile-shortcode .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.custom-profiles-add-new-profile-shortcode .upload-button {
    font-size: 1.2em;
}
.custom-profiles-add-new-profile-shortcode .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}
.custom-profiles-add-new-profile-shortcode .profile-picture {
    position: relative;
    width: fit-content;
}
/* Add New Profile Shortocde CSS */

/* Manage Users Shortocde CSS */
.custom-profiles-manage-users-shortcode {
    width: max-content;
}
.custom-profiles-manage-users-shortcode .card {
    border: 0px !important;
    border-bottom: 2px solid lightgray !important;
    min-width: 25rem !important;
}
.custom-profiles-manage-users-shortcode .card-body {
    padding: 0.75rem !important;
    background-color: #F7F7F9 !important;
}
.custom-profiles-manage-users-shortcode .form-control {
    border-radius: 5px !important;
}
.custom-profiles-manage-users-shortcode .btn-primary {
    border-radius: 5px !important;
}
.custom-profiles-manage-users-shortcode .alert {
    display: none;
    border-radius: 5px !important;
}
.custom-profiles-manage-users-shortcode .close {
    position: relative;
    top: -10px !important;
}
/* Manage Users Shortocde CSS */

/* Edit Profile Shortocde CSS */
.custom-profiles-edit-profile-shortcode .form-control {
    border-radius: 5px !important;
}
.custom-profiles-edit-profile-shortcode .btn-primary {
    border-radius: 5px !important;
}
.custom-profiles-edit-profile-shortcode .alert {
    display: none;
    border-radius: 5px !important;
}
.custom-profiles-edit-profile-shortcode .close {
    position: relative;
    top: -10px !important;
}
.custom-profiles-edit-profile-shortcode .btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
}
.custom-profiles-edit-profile-shortcode .profile-pic {
    width: 150px;
    height: 150px;
    display: block;
}
.custom-profiles-edit-profile-shortcode .file-upload {
    display: none;
}
.custom-profiles-edit-profile-shortcode .circle {
    border-radius: 1000px !important;
    overflow: hidden;
}
.custom-profiles-edit-profile-shortcode img {
    max-width: 100%;
    height: auto;
}
.custom-profiles-edit-profile-shortcode .p-image {
    position: absolute;
    top: 70%;
    right: 2%;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.custom-profiles-edit-profile-shortcode .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.custom-profiles-edit-profile-shortcode .upload-button {
    font-size: 1.2em;
}
.custom-profiles-edit-profile-shortcode .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}
.custom-profiles-edit-profile-shortcode .profile-picture {
    position: relative;
    width: fit-content;
}
/* Edit Profile Shortocde CSS */

/* Global Styles for Profile Icon */
.custom-profiles-profile-picture-nav-menu .profile-pic {
    width: 40px;
    height: 40px;
    display: block;
}
.custom-profiles-profile-picture-nav-menu .file-upload {
    display: none;
}
.custom-profiles-profile-picture-nav-menu .circle {
    border-radius: 1000px !important;
    overflow: hidden;
}
.custom-profiles-profile-picture-nav-menu img {
    max-width: 100%;
    height: auto;
}
.custom-profiles-profile-picture-nav-menu .p-image {
    position: absolute;
    top: 70%;
    right: 2%;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.custom-profiles-profile-picture-nav-menu .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
/* Global Styles for Profile Icon */

/* Global Styles for Profile Switcher */
.profile-switch-btn {
    padding: 0px 20px 0px 0px !important;
}
.profile-switch-btn:hover {
    background-color: transparent !important;
    border: none !important;
}
.profile-switch-btn:active {
    background-color: transparent !important;
    border: none !important;
}
.profile-switch-btn:focus {
    background-color: transparent !important;
    border: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}
/* Global Styles for Profile Switcher */

/* Global Styles for Nav Items */
.nav-menu.navbar-nav li:nth-child(1) a {
    margin-top: 0.2rem;
}
.nav-menu.navbar-nav .dropdown {
    margin-top: 0.2rem;
}
li.menu-item .btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
}
li.menu-item .fa {
    font-size: 0.8rem !important;
    margin-top: 2px !important;
}
/* Global Styles for Nav Items */

/* Forgot Password Shortocde CSS */
.custom-profiles-forgot-password-shortcode .form-control {
    border-radius: 5px !important;
}
.custom-profiles-forgot-password-shortcode .btn-primary {
    border-radius: 5px !important;
}
.custom-profiles-forgot-password-shortcode .alert {
    display: none;
    border-radius: 5px !important;
}
.custom-profiles-forgot-password-shortcode .close {
    position: relative;
    top: -10px !important;
}
/* Forgot Password Shortocde CSS */

/* Reset Password Shortocde CSS */
.custom-profiles-reset-password-shortcode .form-control {
    border-radius: 5px !important;
}
.custom-profiles-reset-password-shortcode .btn-primary {
    border-radius: 5px !important;
}
.custom-profiles-reset-password-shortcode .alert {
    display: none;
    border-radius: 5px !important;
}
.custom-profiles-reset-password-shortcode .close {
    position: relative;
    top: -10px !important;
}
/* Reset Password Shortocde CSS */

/* Barcode Dashboard Shortocde CSS */
.custom-profiles-barcode-dashbaord-shortcode .form-control {
    border-radius: 5px !important;
}
.custom-profiles-barcode-dashbaord-shortcode .btn-primary {
    border-radius: 5px !important;
}
.custom-profiles-barcode-dashbaord-shortcode .alert {
    display: none;
    border-radius: 5px !important;
}
.custom-profiles-barcode-dashbaord-shortcode .close {
    position: relative;
    top: -10px !important;
}
/* Barcode Dashboard Shortocde CSS */