/**
* All of the CSS for your admin-specific functionality should be
* included in this file.
*/

.custom-profiles-settings-table select {
    width: 100%;
}
.profile-modal {
    max-width: 60% !important;
}
.profile-modal table {
    width: 100%;
}
.profile-modal img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
}
.profile-modal table, .profile-modal table th, .profile-modal table td {
    border: 1px solid black;
    border-collapse: collapse;
}
.profile-modal th, .profile-modal table td {
    padding: 5px;
}
.profile-modal th {
    text-align: left;
}
.badge {
    display: inline-block;
    padding: .3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
table.dataTable thead th, table.dataTable thead td {
    text-align: left !important;
    padding-left: 10px !important;
}